*{margin:0; padding:0; }

*h4{
  opacity: 0%;
}

body{
  background: #fff;
}
header{
  width: 100%;
  overflow: hidden;
  background: #000;
}
a#alogout{
  display: hidden;
}
.aregistro{
}

.logo{
  font-family: 'Work Sans', sans-serif;
}
  .btnmaterias{
    margin: 0px;
    display:flex;
    font-family: 'Rubik', sans-serif;
    background: #5d8ffc;
    color: #fff;
    border: 1px solid #5d8ffc;
    font-size: 30px;
    border-radius: 25px;
    padding: 15px;
    display: block;
    width: 300px;
    height: 80px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    margin-top: 300px;
    margin-right:50px;
  }
  .quecon{
    margin: 0;
  margin-left:90px;

  }
.aprender{
  margin-left: 130px;
}
.nohay{
margin-top: 40px;
margin-left: 10px;
}
.logotipo{
  line-height:80px;
  margin: 0px;
  float: left;
}

.wrapper{
  width: 100%;
max-width: 1000px;
margin: auto;
overflow: hidden
}

.content-img{
  background-image: url('./Media/FondoDePagina.png');
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
  width: 100%;
}
.bgtxt{
  background-color: #ff0000;
  opacity: 0.6;
}
.content-txt{
font-family: Muli;
font-style: regular;
float: right;
margin: 0px;
color: #000;
margin-left: 360px;
margin-top: 100px;
font-size: 30px;
position: relative;
left: 320px;
}
header .logo {
  color: #f2f2f2;
  font-size: 50px;
  line-height:95px;
  float: left;
}
header nav{
  float: right;
  line-height: 95px;
}

header nav a{
  display: inline-block;
  color:#f2f2f2;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-family: Muli;
  font-size: 20px;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

header nav a:hover{
  background: #3d3838;
  border-radius: 50px;
}

.header2{
  position: fixed;
  height: 80px;
}

.header2 .logo{
  line-height: 80px;
  font-size: 30px;
}

.header2 nav{
  line-height: 80px;
}

@media screen and (max-width:950px;) {
  header .logo,
  header nav{
    width: 100%;
    text-align: center;
    line-height: 80px;

  }
  .header2 {
    height: auto;
  }
  .header2 .logo,
  .header2 nav{
    line-height: 80px;

  }
}
.signupbtn{
margin-top: 15px;
  font-family: 'Rubik', sans-serif;
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  font-size: 15px;
  border-radius: 15px;
  padding: 15px;
  display: block;
  width: 225px;
  height: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.cancelbtn{
  margin-top: 15px;
  display: flex;
  font-family: 'Rubik', sans-serif;
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  font-size: 15px;
  border-radius: 15px;
  padding: 15px;
  display: block;
  width: 225px;
  height: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.login1{
border-radius: 15px;
border:1px solid #777;
width: 450px;
height: 35px;
margin-top: 30px;
}

.pass1{
border-radius: 15px;
border:1px solid #777;
width: 450px;
height: 35px;
margin-top: 30px;
}
.loginn{
  display: none;
  background-color: #fff;
  width: 460px;
  margin-left: 500px;
}
.isd{
  font-family: Muli;
  color: #000;
  margin-left: 100px;
  font-style: bold;
  font-size: 30px;
}
.redirect{
  margin-top: 100px;
  margin-left: 100px;
}
.email{
border-radius: 15px;
}

.content.two{
  width: 100%;
  padding:40px;
  background: #f2f2f2;
}

.content-details{
  width: 80%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-item2{
width: 300px;
text-align: center;
margin:20px;
}

.content-three{
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 40px;
}

.content-module{
  width: 80%;
margin: auto;
text-align: center;
}

.skel{
  float: left;
}

.cards{
  float: right;
}
.content-module h3{
  margin-top: 40px;
}
.content-module img{
  transition: all 300ms;
  margin-top: 40px;
}
.content-module img:hover{
  transform: rotate(-10deg);
  transition: all 300ms;
}
